module.exports = {
  apps: [{
    name: '{{ webapp_app_name }}',
    script: 'app.js',
    cwd: '{{ webapp_app_dir }}',
    instances: 1,
    autorestart: true,
    watch: false,
    max_memory_restart: '{{ webapp_max_old_space_size }}M',
    env: {
      NODE_ENV: 'production',
      PORT: {{ webapp_app_port }},
      DB_HOST: '{{ webapp_db_host }}',
      DB_NAME: '{{ webapp_db_name }}',
      DB_USER: '{{ webapp_db_user }}',
      DB_PASSWORD: '{{ webapp_db_password }}',
      JWT_SECRET: '{{ webapp_jwt_secret }}',
      API_KEYS: '{{ webapp_api_keys | join(",") }}',
      ADMIN_PASSWORD: '{{ webapp_admin_password }}'
    }
  }]
};
